#div1{
    border: solid pink 1px;
    text-align: center;
    color: purple;
}

#div2{
    border: solid gray 1px;
    text-align: center;
}

#div3{
    border: solid green 1px;
    width: 20%;
    text-align: center;
    /* margin: 1%;
    position: relative;
    right: 1%; */
    
}
/* using position relative and floating to the right would have kept div4 underneath div2 */
#div4{
    border: solid gray 1px;
    width: 69.3%;
    position: absolute; 
    bottom:57.1%;
    left: 25%;
    text-align: center;
    padding: 2%;
    margin-left: 1%;
    


}



#div5{
    border: solid lightskyblue 1px;
    width: 20%;
    text-align: center;
    float: left;
    margin-top: 1%;
}

/* using position relative and floating to the right would have kept div6 underneath div5 */
#div6{
    border: solid purple 1px;
    text-align: center;
    width: 69.3%;
    padding: 2%;
    position: absolute; 
    bottom:38.1%;
    left: 25%;
    margin-left: 1%;
    
}
#div7{
    border: solid red 1px;
    width: 20%;
    text-align: center;
    /* float: left; */
    margin-top: 8%;
}
